<div class="card" style="width: 25rem; background-color: rgb(141, 194, 240)">
  <div class="card-body">
    <h1><strong>User Details</strong></h1>
    <pre></pre>

    <p class="card-text">
      <strong>User ID: {{ user._id }}</strong>
    </p>
    <p class="card-text">
      <strong>First Name: {{ user.firstname }}</strong>
    </p>
    <p class="card-text">
      <strong>Last Name: {{ user.lastname }}</strong>
    </p>
    <p class="card-text">
      <strong>Date of Birth: {{ user.dob }}</strong>
    </p>
    <p class="card-text">
      <strong>Gender: {{ user.gender }}</strong>
    </p>
    <p class="card-text">
      <strong>Email ID: {{ user.remailid }}</strong>
    </p>
    <p class="card-text">
      <strong>Password: {{ user.rpassword }}</strong>
    </p>
    <p class="card-text">
      <strong>Phone Number: {{ user.phonenumber }}</strong>
    </p>
    <p class="card-text">
      <strong>Address 1: {{ user.address }}</strong>
    </p>
    <p class="card-text">
      <strong>Address 2: {{ user.addresstwo }}</strong>
    </p>
    <p class="card-text">
      <strong>City: {{ user.city }}</strong>
    </p>
    <p class="card-text">
      <strong>Country: {{ user.country }}</strong>
    </p>
    <p class="card-text">
      <strong>State: {{ user.state }}</strong>
    </p>
    <p class="card-text">
      <strong>Role: {{ user.role }}</strong>
    </p>
  </div>
</div>
