<footer class="container-fluid" id="footer">
  <div class="row">
    <div class="col-sm-3" id="rlist">
      <ul class="list-inblock">
        <li class="list-inblock-item"><h5>REVIEW LINKS</h5></li>
        <li class="list-inblock-item">
          <a
            href="https://www.practo.com/bangalore/doctor/jyotirmay-hegde-ear-nose-throat-ent-specialist"
            >Practo</a
          >
        </li>
        <li class="list-inblock-item">
          <a href="https://www.manipalhospitals.com/whitefield/"
            >Columbia Asia</a
          >
        </li>
        <li class="list-inblock-item">
          <a href="https://www.vaidam.com/doctors/dr-jyotirmay-s-hegde"
            >Vaidam</a
          >
        </li>
        <li class="list-inblock-item">
          <a
            href="https://www.credihealth.com/doctor/jyotirmay-s-hegde-ent-specialist/overview"
            >Credi Health</a
          >
        </li>
        <li class="list-inblock-item">
          <a href="https://www.logintohealth.com/ent-specialist/jyotirmay-hegde"
            >Login To Health</a
          >
        </li>
        <li class="list-inblock-item">
          <a
            href="https://www.google.com/maps/place//data=!4m3!3m2!1s0x3bae0d1a17c59aad:0xa237ecbaaa4b2f0!12e1?source=g.page.m._&laa=merchant-review-solicitation"
            >Google Review</a
          >
        </li>
      </ul>
    </div>
    <div class="col-sm-9" id="coninfo">
      <ul class="list-inblock">
        <li class="list-inblock-item"><h5>CONTACT INFORMATION</h5></li>
        <li>
          <p class="mt-1 link-text-color">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-geo-alt-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
              /></svg
            ><span
              >Hospital Location:No.10P & 12P, Whitefield Rd, Varthur
              Kodi,Ramagondanahalli, Bengaluru, Karnataka 560066</span
            >
          </p>
        </li>

        <li>
          <p class="mt-1 link-text-color">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-telephone-fill"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
              /></svg
            ><span
              >+91 8061656666 / +91 8033130333,+91 8884444330,+91
              8067366795</span
            >
          </p>
        </li>
        <li>
          <p class="mt-1 link-text-color">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-envelope-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"
              /></svg
            ><span
              >jyotirmay.h@columbiaindiahospitals.com | enthegde@gmail.com</span
            >
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="social container">
    <a
      href="https://www.facebook.com/checkpoint/828281030927956/?next=https%3A%2F%2Fwww.facebook.com%2Fjyotirmay.hegde"
      class="fa fa-facebook"
    ></a>
    <a href="https://twitter.com/HegdeJyotirmay" class="fa fa-twitter"></a>
    <a
      href="https://www.youtube.com/channel/UCWuSiJtIx9m4Ny9nkb098_g"
      class="fa fa-youtube"
    ></a>
    <a href="https://www.skype.com/jshegdesirsi" class="fa fa-skype"></a>
    <a
      href="https://www.linkedin.com/in/jyotirmay-hegde-74719116/"
      class="fa fa-linkedin"
    ></a>
    <a
      href="https://jyotirmayhegde.com/plus.google.com/+JyotirmayHegde"
      class="fa fa-google-plus"
    ></a>
    <a
      href="https://www.practo.com/bangalore/doctor/jyotirmay-hegde-ear-nose-throat-ent-specialist?results_type=doctor"
      class="fa fa-user-md"
    ></a>
  </div>
  <div class="row">
    <div class="col-6" id="cpr">
      <p>Copyright © 2020 All Rights Reserved</p>
    </div>
    <div class="col-6" id="dsd">
      Designed & Developed by:
      <a href="http://www.kekkarinfotech.com/"
        ><button class="btn btn-dark">Kekkar Infotech</button></a
      >
    </div>
  </div>
</footer>
