<div class="container-fluid">
  <div class="container">
    <div><h2 id="header">Facilities Provided</h2></div>
    <hr />
    <br />

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            <span>Facilities Provided</span>
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong>This is a summary of different facilities provided</strong>
            <br />
            <ul>
              <li>ENT Consultation</li>
              <li>Nasal Endoscopy</li>
              <li>Flexible Laryngo Bronchoscopy</li>
              <li>Examination Under Microscope</li>
              <li>Micro Ear Surgeries</li>
              <li>Micro laryngeal Surgery</li>
              <li>Oto-acoustic emissions</li>
              <li>Functional Endoscopic Sinus Surgery</li>
              <li>Head & Neck surgeries</li>
              <li>Routine ENT Surgeries</li>
              <li>Puretone Audiometry</li>
              <li>Impedance Audiometry</li>
              <li>Brain Stem Evoked Response Audiometry</li>
              <li>Hearing Aids Dispensing</li>
              <li>Speciality Clinics</li>
              <li>Cochlear Implant Surgery</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            <span>Endoscopy</span>
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong>Video endoscopy of the ear, nose and throat</strong>
            <br />
            The out patient clinics are equipped with clean and sterilised
            instruments for examination. We have video endoscopy facilities for
            detailed evaluation of the ear, nose and throat. This also allows us
            to document the findings and demonstrate these to the patient and
            attendants for their education
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            <span>Endoscopic</span>
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong>Endoscopic nose, sinus and skull base surgery.</strong>
            <br />
            State of the art equipment for video endoscopic surgery allows for
            targeted and precise minimally invasive surgery on the nose, sinuses
            and surrunding structures. High quality video camera and recording
            systems allow the surgeon to carry out these delicate operations
            safely for his patient.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            <span>Microscopic</span>
          </button>
        </h2>
        <div
          id="collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="headingFour"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong>Microscopic ear and neuro-otologic surgery.</strong>
            <br />
            All ear and neuro-otological operations are carried out using high
            qualtiy motorised microscopes. These provide brilliant illumination
            and large magnification to allow the surgeon to carry out the
            presice and delicate movements that are required when operating on
            the ear, hearing apparatus and adjoining structures of the brain.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFive"
            aria-expanded="false"
            aria-controls="collapseFive"
          >
            <span>Testing</span>
          </button>
        </h2>
        <div
          id="collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="headingFive"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong>Allergy testing.</strong> <br />For patients with allergies
            of the airway, allergy tests provide the patient and family with
            useful information on substances that they may be allergic to, and
            thus have to avoid in order to manage their allergies better.
            Allergy tests may be carried out using either a blood sample or skin
            prick tests
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSix"
            aria-expanded="false"
            aria-controls="collapseSix"
          >
            <span>Apnoea Assessment</span>
          </button>
        </h2>
        <div
          id="collapseSix"
          class="accordion-collapse collapse"
          aria-labelledby="headingSix"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong>Snoring and sleep apnoea assessment.</strong>
            <br />Snoring is a very common social problem. This may sometimes be
            related to sleep apnoea, which has more serious medical
            implications. Comprehensive equipment to test for sleep apnoea is
            used during sleep studies to look for or rule ot the presence of
            sleep apnoea in patietns with sleep disordered breathing.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSeven"
            aria-expanded="false"
            aria-controls="collapseseven"
          >
            <span>Testing</span>
          </button>
        </h2>
        <div
          id="collapseSeven"
          class="accordion-collapse collapse"
          aria-labelledby="headingSeven"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong>Balance testing.</strong> <br />Facilities exist for the
            evaluation of patients who dizziness, vertigo or other problems with
            their balance
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingEight">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseEight"
            aria-expanded="false"
            aria-controls="collapseEight"
          >
            <span>Coblation</span>
          </button>
        </h2>
        <div
          id="collapseEight"
          class="accordion-collapse collapse"
          aria-labelledby="headingEight"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong>Coblation</strong><br />Modern day surgery utilises the
            benefit of presice cutting and sealing of tissues using lasers and
            radiofrquency technology. We have a variety of lasers that may be
            used when appropriate for operating in the ear, nose and throat.
            Similary we use radiofrequency equipment such as coblation for
            bloodless tissue cutting and reduction and at the same time reducing
            the heat trauma to surrounding structures.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingNine">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseNine"
            aria-expanded="false"
            aria-controls="collapseNine"
          >
            <span>Speciality Clinics</span>
          </button>
        </h2>
        <div
          id="collapseNine"
          class="accordion-collapse collapse"
          aria-labelledby="headingNine"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong>Speciality Clinics.</strong><br />
            <ul>
              <li>Hearing -Otology clinic</li>
              <li>Balance related problems-Vertigo clinic</li>
              <li>Paediatric ENT clinic</li>
              <li>
                Nose, sinus , skull base & Allergy-Rhinology & Skull base
                surgery clinic
              </li>
              <li>Voice , speech and swallowing clinic</li>
              <li>Head &Neck clinic</li>
              <li>Sleep related disorders clinic</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <br />
  <br />
</div>
