<div class="container-fluid">
  <div class="container-fluid" id="about-section">
    <div class="row" id="rr">
      <div class="col-md-3" id="cc1">
        <h2 id="header">PROFESSIONAL PROFILE</h2>
        <br />
        <div class="container">
          <img
            id="im"
            src="/assets/images/jyoty.jpg"
            alt="Jyotirmay Hegde"
            class="img img-fluid"
          />
        </div>
      </div>
      <div class="col-md-9" id="cc2">
        <br />
        <h3>WORK EXPERIENCE</h3>
        <br />

        <p>
          Dr Jyotirmay S Hegde is a Consulting ENT, Head and Neck &amp;
          Endoscopic skull base surgeon at Columbia Asia Hospital, Whitefeld,
          Bangalore. He completed his Masters in Otolaryngology – Head &amp;
          Neck Surgery at Karnataka Institute of Medical Sciences, Hubli,
          Karnataka (India). He has worked as a faculty member in various
          capacities at Jawaharlal Institute of Postgraduate Medical Education
          &amp; Research (JIPMER), Pondicherry, India. He is a Fellow of the
          European Board of Otolaryngology (FEBORL). He also completed his
          Fellowship in Rhinology and Endoscopic skull-base surgery from
          University Hospital Aintree, Liverpool, UK. He also completed his
          fellowship in Endoscopic sinus surgery at Bombay Hospital, Mumbai,
          India. He was awarded the Cipla fellowship award for the best outgoing
          student during his Masters. He is the recipient of the prestigious Dr
          P. N. Berry fellowship and was awarded the British Annual Congress in
          Otolaryngology (BACO) fellowship during 2015 and the International
          visiting scholarship at the American Academy of Otolaryngology Head
          &amp; Neck Surgery at Chicago and UPMC, Pittsburgh in 2017. He has
          also been a recipient of the travelling fellowship by the German
          Society of Otolaryngology, Head and Neck Surgery in 2017 at Erfurt. He
          received a gold medal for the best video presentation at AOICON,
          Kolkata, India and has published in several peer-reviewed scientifc
          publications and presented at national and international conferences,
          courses, and workshops.
        </p>
      </div>
    </div>
    <div class="container-fluid">
      <br />
      <div class="row">
        <div class="col-md-1">HIGHLIGHTS:</div>
        <div class="col-md-10">
          <p>
            <b> Dr. (Associate Prof.) Jyotirmay S Hegde</b><br />
            Best ENT Specialist In Bangalore And Best ENT Doctor In
            Whitefield.<br />
            Get expert opinion from "Best ENT Specialist In Bangalore <br />
            Best ENT Doctor In Whitefield" for high quality Ear, Throat &amp;
            Voice, Nose &amp; Sinus, Head &amp; Neck, Hearing &amp; Speech
            disorders and Skull Base surgery at best ENT hospital in Bangalore,
            India
          </p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <p><b>TOTAL EXPERIENCE: More than 18 years</b></p>
      <p id="p1"><b>AWARDS, FELLOWSHIPS AND ACHIEVEMENTS:</b></p>
    </div>
    <div class="container-fluid">
      <ul>
        <li>
          Award paper in Dr A.Mahadevaiah Award session for post graduate paper
          at the 26th AOI Karnataka state conference held at S.S.Institute of
          Medical Sciences and Research Centre, Davangere, on 29th, 30th and
          31th October 2008.
        </li>
        <li>
          Cipla Scholarship for advanced training in endoscopic sinus surgery at
          Bombay hospital Mumbai.
        </li>
        <li>
          Dr P.N.Berry scholarship for advanced training / Fellowship in ORL-HNS
          at UK.
        </li>
        <li>
          Co-author for CD lecture demonstration on balloon sinoplasty along
          with Dr Nishit J Shah
        </li>
        <li>
          Assisted in drafting the manuscript, proof reading and corrections in
          text book named ‘ Atlas of Instruments in Otolaryngology Head &amp;
          Neck Surgery’ written by Dr Vikram Bhat and Dr Manjunath D , Jaypee
          Publications.
        </li>
        <li>
          Best dissection award at Advanced &amp; Open sinus surgery by
          cadaveric dissection course at Ninewells Hospital and Medical School,
          Dundee, Scotland on 29th May, 2012.
        </li>
        <li>
          Travelling Fellowship to attend 15th British Academic Conference in
          Otolaryngology at Liverpool, UK from 8th to 10th July 2015.
        </li>
        <li>
          Travelling fellowship to attend 88th Annual Meeting of the German
          society of ORL-HNS 24TH-27TH May 2017, Congress center Messe Erfurt,
          Germany
        </li>
        <li>
          International visiting scholarship to attend 121st AAOHNS Annual
          meeting and Expo
        </li>
        <li>
          Gold medal for the best video presentation for Dr S.L.Jaiswal Video
          session at the 69th AOICON 2017,Kolkata,India
        </li>
        <li>
          Author of book on “CSF Rhinorrhoea-Management and Practice” CRC
          Press-Taylor &amp; Francis
        </li>
      </ul>
    </div>

    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapse1"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo"
          >
            <strong> TRAINING :</strong>
          </button>
        </h2>
        <div
          id="panelsStayOpen-collapse1"
          class="accordion-collapse collapse"
          aria-labelledby="panelsStayOpen-headingTwo"
        >
          <div class="accordion-body">
            <ul>
              <li>
                Live international Head and Neck oncosurgery workshop at ITC
                Grand Sheraton, Mumbai on 9th,10th and11th March, 2007.
              </li>
              <li>
                Live surgical workshop on OTO-FESS at S.N.Medical College
                Bagalkot on 28th and 29th July 2007.
              </li>
              <li>
                CME held at Meenakshi ENT Speciality Centre, Bangalore on
                25-11-2007
              </li>
              <li>
                Amrita Comprehensive Head and Neck Oncology teaching programme
                at Amrita Institute of Medical Sciences, Kochi on 15-17
                February, 2008.
              </li>
              <li>
                3rd Live Otology-Neurotology network surgical broadcast – A
                Global surgery event at KLE’S Hospital Belgaum, on 21st May2008.
              </li>
              <li>
                Hosts of the workshop on audiology and Speech Therapy held at
                KIMS Hubli, on 25th and 26th September 2008. Assisted Organizing
                Secretary in all the activities during conduction of the
                workshop.
              </li>
              <li>
                Live surgical workshop on OTO-FESS at S.N.Medical College
                Bagalkot on 21st and 22nd February 2009.
              </li>
              <li>
                Underwent Training at Kidwai Memorial Institute of
                Oncology(KMIO), Bangalore, National institute for Mental Health
                and Neurosciences (NIMHANS) Bangalore, and All India Institute
                of Speech and Hearing, Mysore as a part of Post Graduate
                training programme.
              </li>
              <li>
                Live surgical workshop on Rhinoplasty held at Bowring &amp; Lady
                Curzon Hospital, Department of Plastic Surgery &amp; Burns,
                Bangalore Medical College &amp; Research Centre, Bangalore.
              </li>
              <li>
                Basic FESS Cadaveric hands on workshop held at Lokmanya Tilak
                Medical College, Sion Hospital, Mumbai in 2009.
              </li>
              <li>
                Advanced FESS Cadaveric hands on workshop held at Seth GS
                Medical College, KEM Hospital, Mumbai in 2009.
              </li>
              <li>
                CME on Rhinitis and Asthma control Endeavour on 16th December
                2010 at Hubli, Karnataka.
              </li>
              <li>
                FESS and Anterior Skull Base Surgery Workshop held at Nanavati
                Hospital, Mumbai from 4th-6th February 2011.
              </li>
              <li>
                Advanced Rhinology and Skull Base Surgery Workshop held at ITC
                Maratha and Nair Medical College and Hospital in association
                with British Rhinological Society from 11th-13th February 2011.
              </li>
              <li>
                7th Endonasal Endoscopic Skullbase Workshop held at Bombay
                Hospital and Nair Medical College and Hospital from 10th -13th
                March 2011 in Mumbai.
              </li>
              <li>
                3rd Manchester Sinus, Rhinoplasty &amp; Nasal plastics
                Dissection course from 14th to 17th May, 2012 at University of
                Manchester, UK.
              </li>
              <li>
                Advanced &amp; Open sinus surgery by cadaveric dissection course
                at Ninewells Hospital and Medical School, Dundee,Scotland on
                29th May, 2012.
              </li>
              <li>
                3rd Scottish ENT update course at Royal Infirmary Aberdeen,
                Aberdeen, Scotland from 30th May to 1st June, 2012.
              </li>
              <li>
                5th National Hands on Surgical Workshop on Lasers in ENT on 23rd
                &amp; 24th February, 2013 at Akola, Maharashtra.
              </li>
              <li>
                9th International Workshop on Endoscopic Endonasal Skullbase
                Surgery held on 26th to 28th April 2013 at Jaipur, Rajasthans.
              </li>
              <li>
                Workshop on “Good Clinical Practice” held on 20th April 2013 at
                SDMCMSH, Dharwad.
              </li>
              <li>
                Live Surgical Workshop on Otology and Cadaveric Temporal Bone
                and Lateral Skull Base Dissection on 20th &amp; 21st July 2013
                at SDMCMSH, Dharwad.
              </li>
              <li>
                Training in ‘ xxvii Teachers Training Programme’ on 20-0902013
                at SDMCMSH, Dharwad.
              </li>
              <li>
                Workshop on Cuuriculum Development regarding framing of
                curriculium for BSc Operation Theatre Technology on 25.01.2014
                at JIPMER, Pondicherry.
              </li>
              <li>
                Live Surgical Workshop on FESS/SBS held 0n 4th May, 2014 at
                Trichy.
              </li>
              <li>
                Workshop on “Orientation workshop on epidemiology” on 29th &amp;
                30th May 2014 at JIPMER, Pondicherry.
              </li>
              <li>
                Workshop on “ Update in Neuroimaging” held on 29th June 2014 at
                Bangalore.
              </li>
              <li>
                Orientation workshop on “Animal and Lab Experimentation” on 30th
                June 2014 at JIPMER, Pondicherry.
              </li>
              <li>
                Orientation Workshop on “Clinical Research Methodology” on 27th
                July at JIPMER, Pondicherry.
              </li>
              <li>
                Attended workshop on “Research grant proposal writing” on 24th
                &amp; 25th October 2014 at JIPMER, Pondicherry.
              </li>
              <li>
                Attended Live temporal bone Dissection and ear surgery workshop
                held on 13th to 15th February 2015 at Bangalore.
              </li>
              <li>
                Attended National Congress and live surgical workshop on
                endoscopic ear surgery held at Hyderabad during September 2015.
              </li>
              <li>
                Participated in the “ Advanced level Cochlear Implant update”
                held at MERF on 24th April 2016
              </li>
              <li>
                Participated in the 1st Hands on course in “ Evaluation &amp;
                anagement of Swallowing Disoeder” held on 8th May 2016 at DMHAC,
                Pune
              </li>
              <li>
                Participated as Hands on dissection in the Head &amp; Neck
                cadaveric dissection workshop held on 22nd to 24th July 2016
              </li>
              <li>
                Participated in workshop on coblation assisted sleep apnoea
                surgery held on 28-10-2016 at Sunrise Hospital, Kochi
              </li>
              <li>
                Attended the Extended endoscopic transnasal surgical approaches
                to the skull base from 21st-23rd March 2017 at ASST Dei Sette
                Laghi-Varese, Italy
              </li>
            </ul>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapse2"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo"
            >
              <strong>PUBLICATIONS :</strong>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapse2"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo"
          >
            <div class="accordion-body">
              <ol>
                <li>
                  Bhat KV, Khaja Naseeruddin, Umesh SN, Praveen KR,
                  <b>Hegde J</b>. Mastoidectomy in quiescent tubotympanic
                  chronic otitis media: Is it routinely necessary? Journal of
                  Laryngology and Otology 2009;123:383-390
                </li>
                <li>
                  Bhat KV, Pushpalatha, Divya U, <b>Hegde J</b>.
                  Clinicopathological Review of Tubercular Laryngitis in 32
                  Cases of Pulmonary Kochs. American Journal of Otolaryngology
                  2009;30:327-330
                </li>
                <li>
                  Bhat KV, Praveen KR, Mythri N, <b>Hegde J</b>. Comparison of
                  Eustachian Barotubometer with Tympanometer to Assess
                  Eustachian Tube Functions in Chronic Suppurative Otitis Media.
                  Journal of Otolaryngology-Head & Neck Surgery 2009;38:456-461
                </li>
                <li>
                  Bhat KV, <b>Hegde J</b>, Umesh SN,Patil G.C. Evaluation of CT
                  Virtual Bronchoscopy in Pediatric Tracheobronchial foreign
                  body aspiration. JLO 2010;3:45-46
                  <b
                    >Abstract selected and published in the Year book of
                    Otolaryngology - Head and Neck Surgery [Mosby & Elsevier]
                    2011</b
                  >
                </li>
                <li>
                  Hegde HV, Bhat M , Prasad KC, <b>Hegde J</b>, Rao R, Yaliwal
                  V. Airway difficulty in Mallampatti “class zero” patients-Eur
                  J Anaesthesiol 2012 Jul; 29(7); 338-42
                </li>
                <li>
                  Clinico-bacteriological study of chronic dacryocystitis cases
                  in northern karnataka, India. A V P, Patil SS, Koti SV, J S A,
                  Garag SS, Hegde JS. J Clin Diagn Res. 2013 Nov;7(11):2502-4.
                  doi: 10.7860/JCDR/2013/6636.3590. Epub 2013 Nov 10.
                </li>
                <li>
                  Arunkumar JS, Naveen KN, KC Prasad, Santosh SG,
                  <b>JS Hegde</b>. Lupus Vulgaris of external nose- a case
                  report. J Indian Med Assoc 2013; 111:130-1 & 134
                </li>
                <li>
                  Reply to: Conclusions need to be based on sound data: keep an
                  eye on both bias and imprecision. Hegde HV, Yaddanapudi LN,
                  Prasad KC, Bhat MT, Hegde JS, Mysore CB S, Yaliwal VG, Rao
                  PR.Eur J Anaesthesiol. 2013 Feb;30(2):94. doi:
                  10.1097/EJA.0b013e32835c16d4. No abstract available.PMID:
                  23241916
                </li>
                <li>
                  Hegde JS, Manjunath D, Srinish G et al. Atrophic rhinitis
                  presenting with ethmoidal mucocele: A case report. Journal of
                  Clinical and Diagnostic Research. 2014 Jun, Vol-8(6):
                </li>
                <li>
                  Hegde JS, Arunkumar J, Patil Preetam et al. Recent trends in
                  the management of Tornwaldt’s cyst: A case report. Journal of
                  Clinical and Diagnostic Research. 2014
                </li>
                <li>
                  Venous malformation of right angular vein. Vamanshankar H,
                  Hegde JS, Parida PK. Acta Otorrinolaringol Esp. 2016 Jan 2.
                  pii: S0001-6519(15)00168-5. doi: 10.1016/j.otorri.2015.09.010.
                  [Epub ahead of print] English, Spanish. No abstract available
                  .PMID: 26753918
                </li>
                <li>
                  Jyotirmay S. Hegde, Hemanth Vamanshankar, Sunil Kumar Saxena &
                  Shreshta Bhat Sphenoidal mucocele presenting with persistent
                  headache: a case report, Acta Oto-Laryngologica Case Reports,
                  2016:1:1,133-135, DOI: 10.1080/23772484.2016.1254560
                </li>
                <li>
                  Jyotirmay S. Hegde, Hemanth Vamanshankar. Mucous retention
                  cyst of the cribriform area: An unusual presentation. Clin
                  Rhinol An Intl J 2015; 8 (3): 121-23
                </li>
                <li>
                  Hemanth Vamanshankar, Vignesh Karunakaran,Pradipta Kumar
                  Parida, Jyotirmay S. Hegde,Sivaraman Ganesan, Arun Alexander
                  Giant trabecular type juvenile ossifying fibroma of the
                  maxilla – A case report r e v e s p c i r o r a l m a x i l o
                  f a c . 2 0 1 6;
                </li>
                <li>
                  Jyotirmay H, Saxena SK, Ramesh AS, Nagarajan K, Bhat S.
                  Assessing the Viability of Hadad Flap by Postoperative
                  Contrast-Enhanced Magnetic Resonance Imaging. J Clin Diagn
                  Res. 2017;11(6):MC01-MC03. doi:10.7860/JCDR/2017/26737.10118
                </li>
                <li>
                  Hameed N, Alexander A, Saxena SK, Ganesan S, Hegde JS. Effect
                  of Incudostapedial Reconstruction Using Conchal Cartilage
                  Interposition Graft on Hearing Outcome. Int Arch
                  Otorhinolaryngol. 2019;23(3):e262-e266.
                  doi:10.1055/s-0038-1661398
                </li>
                <li>
                  Nair NP, Alexander A, Abhishekh B, Hegde JS, Ganesan S, Saxena
                  SK. Safety and Efficacy of Autologous Platelet-rich Fibrin on
                  Graft Uptake in Myringoplasty: A Randomized Controlled Trial.
                  Int Arch Otorhinolaryngol. 2019;23(1):77-82.
                  doi:10.1055/s-0038-1649495
                </li>
                <li>
                  Reddy, Chandra Shekar, Natarajan Ramalingam, Jyotirmay S.
                  Hegde, & Sunil Kumar Saxena. "Modified transnasal endoscopic
                  repair of bilateral choanal atresia with pulmonary atresia."
                  International Journal of Otorhinolaryngology and Head and Neck
                  Surgery [Online], 4.6 (2018): 1511-1513. Web. 20 Dec. 2020
                </li>
                <li>
                  Hedge, Jyotirmay, & Shruthi Dechamma. "Granulomatosis
                  polyangiitis: an otorhinolaryngological perspective."
                  International Journal of Otorhinolaryngology and Head and Neck
                  Surgery [Online], 6.9 (2020): 1729-1732. Web. 20 Dec. 2020
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapse3"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo"
            >
              <strong>PAPER PRESENTATIONS :</strong>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapse3"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo"
          >
            <div class="accordion-body">
              <ol>
                <li>
                  Recurrent fronto-ethmoidal neurofibroma’ at Twenty fourth AOI
                  Karnataka state and south zone conference held at JNMC,
                  Belgaum, 13th, 14th and 15th October 2006.
                </li>
                <li>
                  ‘Clinical study of recurrent and persistent Adenoids’ at Fifty
                  ninth Annual Conference of AOI held at Bhubaneshwar from 4-7,
                  January, 2007.
                </li>
                <li>
                  ‘Tracheo-bronchial foreign bodies-study of clinical , x-ray,
                  virtual and rigid bronchoscopic findings’ at Twenty sixth AOI
                  Karnataka state conference held at S.S.Institute of Medical
                  Sciences and Research Centre, Davangere, on 29th, 30th and
                  31th October 2008.
                </li>
                <li>
                  ‘Visual recovery following endoscopic excision of skullbase
                  tumors’ at British Academic Conference in Otolaryngology, 8th
                  to 11th July 2015, Liverpool, United Kingdom.
                </li>
                <li>
                  Presented a paper titled ‘Assessment of the viability of Hadad
                  flap in skullbase reconstruction using MRI’ at 17th Annual
                  Skullbase Conference, 10th & 11th October 2015, Bangalore,
                  India.
                </li>
                <li>
                  Presented a poster at 15th British Academic Conference in
                  Otolaryngology at Liverpool, UK from 8th to 10th July 2015.
                </li>
                <li>
                  Presented a paper titled “Fluoroscein Assisted Endoscopic
                  repair of cerebrospinal fluid rhinorrhoea” at the 69th AOICON
                  2017,Kolkata,India in the Dr P. A. Shah Junior Consultant
                  Award Paper session.
                </li>
                <li>
                  Presented a paper titled “Minimal Access Endoscopic assisted
                  repair of frontal cerebrospinal fluid rhinorrhoea” at the 69th
                  AOICON 2017,Kolkata,India
                </li>
                <li>
                  Presented a paper titled “Management of Vascular Risks during
                  the Transnasal Endoscopic Approach to Pituitary Adenomas” at
                  the 69th AOICON 2017,Kolkata,India
                </li>
                <li>
                  Presented a paper titled “ Reconstruction of skull base
                  defects during endoscopic skull base surgery” at 9th
                  International Biennale Milano Masterclass, Milan, Italy from
                  March 24-28,2017
                </li>
                <li>
                  Presented a paper titled ‘Assessment of the viability of Hadad
                  flap in skullbase reconstruction using MRI’ at 88th Annual
                  Meeting of the German society of ORL-HNS 24TH-27TH May 2017,
                  Congress center Messe Erfurt, Germany
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapse4"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo"
            >
              <strong> BOOK :</strong>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapse4"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo"
          >
            <div class="accordion-body">
              <p>
                Author of book on “CSF Rhinorrhoea-Management and Practice” CRC
                Press-Taylor & Francis First edition published 2021
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapse6"
              aria-expanded="false"
              aria-controls="panelsStayOpen-collapseOne"
            >
              <strong>MEMBERSHIPS :</strong>
            </button>
          </h2>
          <div
            id="panelsStayOpen-collapse6"
            class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingOne"
          >
            <div class="accordion-body">
              <ul>
                <li>Association of Otolaryngologists of India-AOI</li>
                <li>All India Rhinological Society-AIRS</li>
                <li>Skullbase society of India-SBSI</li>
                <li>
                  American academy of Otolaryngology Head and neck
                  surgery-AAOHNS
                </li>
                <li>ENT-UK</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <hr />
  <br />
</div>
