<div class="container-fluid">
  <div class="container">
    <h2 id="header">Conditions We Treat</h2>
    <hr />
    <div>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              <span>Ear (Otology)</span>
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul>
                <div style="float: right">
                  <li>Perforated ear drum</li>
                  <li>Deafness</li>
                  <li>Otitis externa</li>
                  <li>Acute Otitis Media</li>
                  <li>Otomycosis</li>
                  <li>Foreign body</li>
                </div>
                <div>
                  <li>Chronic otitis media</li>
                  <li>Cholesteatoma</li>
                  <li>Ear discharge</li>
                  <li>Otitis media with Effusion (Glue ear)</li>
                  <li>Ear wax</li>
                  <li>Microtia / Aplastic ear</li>
                  <li>Otosclerosis</li>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              <span>Hearing loss and Speech Disorders</span>
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul>
                <div style="float: right">
                  <li>Conductive hearing loss</li>
                  <li>Sensorineural hearing loss</li>
                  <li>Sudden hearing loss</li>
                  <li>Speech and language delay</li>
                  <li>Articulation disorders</li>
                  <li>
                    Speech and language problems associated with neurological
                    disorders
                  </li>
                </div>
                <section>
                  <li>Stuttering</li>
                  <li>Voice disorders</li>
                  <li>Feeding and swallowing disorders</li>
                  <li>
                    Speech and language re/habilitation for the hearing impaired
                  </li>
                  <li>Pre-school language groups and parent training</li>
                </section>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              <span>Nose, Sinus & Allergy (Rhinology)</span>
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul>
                <div style="float: right">
                  <li>Nasal polyps</li>
                  <li>Rhinitis</li>
                  <li>Sinusists</li>
                  <li>Nasal tumours</li>
                </div>
                <div>
                  <li>Deviated nasal septum</li>
                  <li>Nasal deformity</li>
                  <li>Nasal bleeding / Epistaxiss</li>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              <span>Voice and Swallowing</span>
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="headingFour"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul>
                <div style="float: right">
                  <li>Hoarseness</li>
                  <li>Vocal nodules</li>
                  <li>Vocal cord paralysis</li>
                  <li>Vocal polyp</li>
                  <li>Laryngitis</li>
                </div>
                <div>
                  <li>Tonsillitis</li>
                  <li>Adenoids</li>
                  <li>Laryngopharyngeal reflux</li>
                  <li>Pharyngitis</li>
                  <li>Vocal cord tumours</li>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
              <span> Dizziness and Vertigo</span>
            </button>
          </h2>
          <div
            id="collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="headingFive"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul>
                <div style="float: right">
                  <li>Vertigo</li>
                  <li>VBPPV</li>
                  <li>Menieres disease</li>
                  <li>Labyrinthitis</li>
                  <li>Laryngitis</li>
                </div>
                <div>
                  <li>Vestibular schwannoma</li>
                  <li>Facial palsy</li>
                  <li>Vestibular neuritis</li>
                  <li>Tinnitus</li>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
              <span>Children (Paediatric) ENT</span>
            </button>
          </h2>
          <div
            id="collapseSix"
            class="accordion-collapse collapse"
            aria-labelledby="headingSix"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul>
                <div style="float: right">
                  <li>Deafness</li>
                  <li>Allergic rhinitis</li>
                  <li>Sinusistis</li>
                  <li>Tonsillitis</li>
                  <li>Adenoids</li>
                  <li>Snoring and sleep apnoea</li>
                  <li>Otitis Media with effusion (glue ear)</li>
                  <li>Speech delay</li>
                  <li>Choanal atresia</li>
                  <li>Noisy breathing</li>
                  <li>Breathing difficulty</li>
                </div>
                <div>
                  <li>Laryngomalacia</li>
                  <li>Microtia / ear malformation</li>
                  <li>Nose bleeds / Epistaxia</li>
                  <li>Vocal cord palsy</li>
                  <li>Foreign body</li>
                  <li>Tracheomalacia</li>
                  <li>Subglottic stenosis</li>
                  <li>Hoarseness</li>
                  <li>Snoring</li>
                  <li>Noisy breathing</li>
                  <li>Recurrent Respiratory Papillomatosis</li>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSeven">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSeven"
              aria-expanded="false"
              aria-controls="collapseseven"
            >
              <span>Head and Neck</span>
            </button>
          </h2>
          <div
            id="collapseSeven"
            class="accordion-collapse collapse"
            aria-labelledby="headingSeven"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul>
                <div style="float: right">
                  <li>Thyroid</li>
                  <li>Parotid</li>
                  <li>Salivary Stones</li>
                  <li>Lymph nodes</li>
                  <li>Thyroglossal cyst</li>
                </div>
                <div>
                  <li>Lymphangioma</li>
                  <li>Branchial cyst</li>
                  <li>Neck abscess</li>
                  <li>Snoring & Sleep related disorders</li>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingEight">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseEight"
              aria-expanded="false"
              aria-controls="collapseEight"
            >
              <span>Skull Base</span>
            </button>
          </h2>
          <div
            id="collapseEight"
            class="accordion-collapse collapse"
            aria-labelledby="headingEight"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul>
                <div style="float: right">
                  <li>Pituitary tumours</li>
                  <li>CSF leak</li>
                  <li>Nasopharyngeal Angiofibroma</li>
                </div>
                <div>
                  <li>LymphangiomaVestibular Schwannoma</li>
                  <li>Glomus tumours</li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <br /><br />
</div>
