@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;1,300&display=swap");
.container-fluid {
  font-family: "Source Serif Pro", serif;
  font-size: large;
  //background-color: #e6e6fa;
  color: #123c69;
}

@media only screen and (max-width: 600px) {
  img {
    width: 20px;
    height: 20px;
  }
  .table {
    padding-bottom: 10px;
    font-size: xx-small;
  }
  .btn-primary {
    text-align: center;
    font-size: 4px;
  }
  .email {
    display: none;
  }
}

table {
  background-image: linear-gradient(-90deg, #16d0c7, white);
}
