<div class="container-fluid">
  <form
    [formGroup]="productForm"
    style="background-color: #fef9c7"
    (ngSubmit)="onSubmit()"
  >
    <div clas="form-group">
      <label class="form-label" for="_id">Select a product to Update</label>
      <select
        class="form-select"
        id="_id"
        formControlName="_id"
        (change)="onChangeType($event, $event.target)"
      >
        <option selected>Select a value</option>
        <option *ngFor="let p of productArr" [ngValue]="p._id">
          {{ p.pName }}
        </option>
      </select>
    </div>
  </form>
  <form
    [formGroup]="productForm"
    style="background-color: #fef9c7"
    (ngSubmit)="onSubmit()"
  >
    <div clas="form-group">
      <div class="form-row">
        <label for="pName"> Product Name: </label>
        <input
          id="pName"
          type="text"
          class="form-control"
          formControlName="pName"
          [ngClass]="{ 'is-invalid': submitted && f['pName'].errors }"
        />
        <div *ngIf="submitted && f['pName'].errors" class="invalid-feedback">
          <div *ngIf="f['pName'].errors['required']">
            Product Name is required
          </div>
        </div>
      </div>
      <div class="form-row">
        <label for="pStyle"> Product Style: </label>
        <input
          id="pStyle"
          type="text"
          class="form-control"
          formControlName="pStyle"
          [ngClass]="{ 'is-invalid': submitted && f['pStyle'].errors }"
        />
        <div *ngIf="submitted && f['pStyle'].errors" class="invalid-feedback">
          <div *ngIf="f['pStyle'].errors['required']">
            Product Name is required
          </div>
        </div>
      </div>
      <div class="form-row">
        <label for="pBattery"> Battery type: </label>
        <input
          id="pBattery"
          type="text"
          class="form-control"
          formControlName="pBattery"
          [ngClass]="{ 'is-invalid': submitted && f['pBattery'].errors }"
        />
        <div *ngIf="submitted && f['pBattery'].errors" class="invalid-feedback">
          <div *ngIf="f['pBattery'].errors['required']">
            Product Name is required
          </div>
        </div>
      </div>
      <div class="form-row">
        <label for="pFittingRange"> Fitting Range: </label>
        <input
          id="pFittingRange"
          type="text"
          class="form-control"
          formControlName="pFittingRange"
          [ngClass]="{ 'is-invalid': submitted && f['pFittingRange'].errors }"
        />
        <div
          *ngIf="submitted && f['pFittingRange'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['pFittingRange'].errors['required']">
            Product Name is required
          </div>
        </div>
      </div>
      <div class="form-row">
        <label for="pRemarks"> Product Remarks: </label>
        <input
          id="pRemarks"
          type="text"
          class="form-control"
          formControlName="pRemarks"
          [ngClass]="{ 'is-invalid': submitted && f['pRemarks'].errors }"
        />
        <div *ngIf="submitted && f['pRemarks'].errors" class="invalid-feedback">
          <div *ngIf="f['pRemarks'].errors['required']">
            Product Name is required
          </div>
        </div>
      </div>
      <div class="form-row">
        <label for="price"> Product Price: </label>
        <input
          id="price"
          type="number"
          class="form-control"
          formControlName="price"
          [ngClass]="{ 'is-invalid': submitted && f['price'].errors }"
        />
        <div *ngIf="submitted && f['price'].errors" class="invalid-feedback">
          <div *ngIf="f['price'].errors['required']">
            Product Name is required
          </div>
        </div>
      </div>
      <div class="form-row">
        <label for=""> Supplier Id: </label>
        <input
          id="supplier_id"
          type="number"
          class="form-control"
          formControlName="supplier_id"
          [ngClass]="{ 'is-invalid': submitted && f['supplier_id'].errors }"
        />
        <div
          *ngIf="submitted && f['supplier_id'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['supplier_id'].errors['required']">
            Product Name is required
          </div>
        </div>
      </div>
      <div class="form-row">
        <label for="manufacturer_id"> Manufacturer Id </label>
        <input
          id="manufacturer_id"
          type="number"
          class="form-control"
          formControlName="manufacturer_id"
          [ngClass]="{ 'is-invalid': submitted && f['manufacturer_id'].errors }"
        />
        <div
          *ngIf="submitted && f['manufacturer_id'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['manufacturer_id'].errors['required']">
            Product Name is required
          </div>
        </div>
      </div>
      <div class="form-row">
        <label for="img_path"> Image </label>
        <input
          id="img_path"
          type="text"
          class="form-control"
          formControlName="img_path"
          [ngClass]="{ 'is-invalid': submitted && f['img_path'].errors }"
        />
        <div *ngIf="submitted && f['img_path'].errors" class="invalid-feedback">
          <div *ngIf="f['img_path'].errors['required']">
            Product Name is required
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="mt-2 btn btn-success btn-outline-danger text-white"
      >
        Submit
      </button>
    </div>
  </form>
</div>
