<div class="container-fluid">
  <h1>FAQ</h1>

  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          <strong>FAQ for Headache</strong>
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="container">
            <iframe
              src="assets/pdf/FAQ Headache.pdf "
              class="responsive-iframe"
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          <strong>FAQ for SINONASAL</strong>
        </button>
      </h2>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="container">
            <iframe
              src="assets/pdf/FAQ SINONASAL.pdf"
              class="responsive-iframe"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          <strong> FAQ for Sleep Apnea</strong>
        </button>
      </h2>
      <div
        id="flush-collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="container">
            <iframe
              src="assets/pdf/FAQ SLEEP APNEA.pdf"
              class="responsive-iframe"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFour"
          aria-expanded="false"
          aria-controls="flush-collapseFour"
        >
          <strong>FAQ of Vertigo</strong>
        </button>
      </h2>
      <div
        id="flush-collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingFour"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="container">
            <iframe src="assets/pdf/FAQ VERTIGO.pdf" class="responsive-iframe">
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFive"
          aria-expanded="false"
          aria-controls="flush-collapseFive"
        >
          <strong>Headache Handout</strong>
        </button>
      </h2>
      <div
        id="flush-collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingFive"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="container">
            <iframe
              src="assets/pdf/Headache handout.pdf "
              class="responsive-iframe"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSix"
          aria-expanded="false"
          aria-controls="flush-collapseSix"
        >
          <strong>Hearing QA</strong>
        </button>
      </h2>
      <div
        id="flush-collapseSix"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingSix"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="container">
            <iframe src="assets/pdf/Hearing QA.pdf" class="responsive-iframe">
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSev">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSev"
          aria-expanded="false"
          aria-controls="flush-collapseSev"
        >
          <strong> Sinonasal Handout</strong>
        </button>
      </h2>
      <div
        id="flush-collapseSev"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingSev"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="container">
            <iframe
              src="assets/pdf/SINONASAL handout.pdf "
              class="responsive-iframe"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingEight">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseEight"
          aria-expanded="false"
          aria-controls="flush-collapseEight"
        >
          <strong> Sleep Apnea Handout</strong>
        </button>
      </h2>
      <div
        id="flush-collapseEight"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingEight"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="container">
            <iframe
              src="assets/pdf/SLEEP APNEA Handout.pdf "
              class="responsive-iframe"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingnine">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapsenine"
          aria-expanded="false"
          aria-controls="flush-collapsenine"
        >
          <strong>Swallowing Handout</strong>
        </button>
      </h2>
      <div
        id="flush-collapsenine"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingnine"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="container">
            <iframe
              src="assets/pdf/Swallowing handout.pdf"
              class="responsive-iframe"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTen">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTen"
          aria-expanded="false"
          aria-controls="flush-collapseTen"
        >
          <strong>Vertigo Handout</strong>
        </button>
      </h2>
      <div
        id="flush-collapseTen"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingTen"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="container">
            <iframe
              src="assets/pdf/VERTIGO handout.pdf"
              class="responsive-iframe"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingele">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseele"
          aria-expanded="false"
          aria-controls="flush-collapseele"
        >
          <strong>Voice and Speech Handout</strong>
        </button>
      </h2>
      <div
        id="flush-collapseele"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingele"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="container">
            <iframe
              src="assets/pdf/VOICE AND SPEECH handout.pdf "
              class="responsive-iframe"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</div>
