<div class="container-fluid">
  <div class="container">
    <h1>Information About Operation</h1>
    <div
      class="accordion"
      id="accordionExample"
      style="box-shadow: 10px 10px 10px 0px rgb(63, 62, 62)"
    >
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            Instructions Before Surgery
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <strong
              >EAR ,NOSE & THROAT –INSTRUCTIONSBEFORE SURGERYWEEK BEFORE
              SURGERY</strong
            >
            <p>
              You will need to pre-register for your surgery with your doctor.
              Please bring the paperwork with you to the facility when you
              register. Any pre-op labs will be done at this time. You do not
              have to fast before your blood work. Do NOT Take Aspirin, Vitamin
              E or blood thinners for one week before surgery. These medications
              cause the blood to thin and this could cause bleeding
              complications during surgery. Bring all of your home medications
              with you when you preregister.
            </p>
            <strong>DAY BEFORE SURGERY</strong>
            <p>
              Please note that the hospital makes the surgery schedule and the
              order of cases.You will be notified regarding the time of arrival
              when the day of surgery approaches. The hospitalwill let you know
              what time they want you to arrive prior to surgery.
            </p>
            <strong>EVENING BEFORE SURGERY</strong>
            <p>
              DO NOT EAT OR DRINK anything after midnight (including water,
              coffee, juice, chewing gum, medications unless advisedor breath
              mints).
            </p>
            <strong>BLOOD TESTS</strong>
            <p>
              If indicated, a pre-admission testing appointment will be made for
              you. It will consist of anesthesia consult, diagnostic testing
              (ie: blood work, x-raysetc). If you have any irregular bleeding
              tendencies, please alert your doctor.All tests will be ordered by
              your surgeon and performed in the hospital where your surgery is
              scheduled approximately one week prior to that date.
            </p>
            <strong>N P O MEANS NOTHING BY MOUTH</strong>
            <p>
              All adults are to have nothing to eat or drink from midnight the
              night before surgery is scheduled.Children like adults, also need
              to limit the amount of fluids and food during the night and
              morning before surgery.
            </p>
            <strong>COLD OR ILLNESS</strong>
            <p>
              Children with an unexplained fever, vomiting or symptoms of a
              flu-like illness may be at an increased risk for a general
              anesthetic. If your child has these symptoms,surgery may be
              postponed. Please call your surgeon to alert him of these
              conditions as soon as possible before surgery to prevent the
              inconvenience of having surgery cancelled on the morning of
              surgery.<br />Generally we prefer the child be free of such
              illness for one week prior to surgery. Chronic runny nose,
              teething and hayfever do not pose a problem. We also ask that you
              call your surgeon if the child has come in close contact with
              another child with measles, chickenpox or German measles, within
              the immediate preoperative period.
            </p>
            <strong>ARRIVAL TIME THROUGH DISCHARGE TIME</strong>
            <p>
              Adults having general anesthesia, should have someone bring them
              to the hospital the day of surgery and also have someone to bring
              them home. The patient may not be feeling up to normal activities
              immediately.<br />
              Children should also be accompanied by a parent (or a legal
              guardian) to the hospital the day of surgery. We ask you to stay
              at the hospitalthroughout the admission, surgical and recovery
              periods. You will have an opportunity to ask questions and meet
              with your surgeon after the procedure. Parents will be reunited
              with their child as soon as he/she begins to awaken.
            </p>
            <strong>THINGS TO REMEMBER FOR CHILDREN</strong>
            <p>
              Remove all baby bottles from the crib at night. Inform all family
              members that the child should not be given anything by mouth after
              midnight for surgery the next day. If appropriate for the age of
              the child, remove all drinking glasses from the bathroom.
            </p>
            <strong>THINGS TO REMEMBER FOR ADULTS</strong>
            <p>
              No alcoholic beverages 48 hours prior to or following
              surgery.Please leave all jewelry at home. Remove nail polish and
              make-up. If you wear contact lenses, bring a case to store them
              during surgery. Bring all home medications with you to the
              hospital.<br />TIP:<br />Avoid nicotine for 2 weeks before and 2
              weeks after surgeryas this can interfere with the wound healing
              and cause delays in your medical management. For those patients
              coming in from out of town, remember to bring post-operative
              medications with you so they are available to you after surgery
              and on the trip home.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Instructions after Ear surgery
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            There are many questions that may arise after your ear surgery.
            These instructions are designed to prepare you for what to expect
            after surgery and should answer most of you questions.<br />
            <p>
              <strong>Swelling:</strong>Swelling is normal after surgery. If an
              incision was made behind the ear, the ear may appear to stick out
              from the side of the head more than the opposite ear. This is the
              result of post-operative swelling and it should decrease over a
              period of several weeks. It may also be noticed that there is some
              numbness over the top of the ear after the bandage have been
              removed. This is the result of bruising of the sensory nerves to
              the ear as a result of the incision. This numbness will gradually
              subside over a period of several months.
            </p>
            <p>
              <strong>Bleeding:</strong>There may be occasional mild bleeding
              from the incision behind the ear. This is usually of no concern.
              If there is some drainage form the incision site, a small piece of
              gauze can be taped behind the ear in order to collect the
              drainage. If the bleeding is of concern, you should call the
              office. After the surgery is complete, the ear canal may be packed
              with an absorbable material. As this material liquefies, it
              usually results in a bloody drainage from the ear canal. It is
              wise to keep a clean piece of cotton in the ear in order to
              collect the drainage.
            </p>
            <p>
              <strong>Pain:</strong>There is usually only mild pain following
              surgery. Some discomfort may be felt for the first 24 hours if a
              pressure dressing is applied to the ear. Once this is removed,
              however, most discomfort subsides. There may be occasional brief,
              stabbing pain in the ear up to one week after surgery. Analgesics
              will be prescribed if they are necessary. These should be taken
              only when needed. Paracetamol is fine if the pain is not severe.
            </p>
            <p>
              <strong>Cleaning the Ear:</strong>Any dried blood in the outerear
              may be gently cleaned with a Q-tip/Ear budand hydrogen peroxide.
              The incision behind the ear should be cleaned twice a day with a
              Q-tip and hydrogen peroxide.
            </p>
            <p>
              <strong>Temperature:</strong>Generally the body temperature does
              not rise much above 100 degrees followingear surgery. Temperatures
              >101.5 should be reported to Dr. Hegde.
            </p>
            <p>
              <strong>Weakness:</strong>It is not unusual after a person has had
              an anesthetic, or any type of operation, for them to feel weak or
              become lightheaded. This gradually subsides in several days with
              medication.
            </p>
            <p>
              <strong>Dizziness:</strong>The hearing organ and balance organ are
              all part of the same system. Both organs are very delicate and,
              therefore, may be off set after surgery. Occasionally, a patient
              may experience dizziness for several days after surgery. This is
              especially true in the case of stapedectomy operations and
              reconstruction of the ossicular chain. Such dizziness usually
              subsides within several days.
            </p>
            <p>
              <strong>Hearing:</strong>Generally, hearing cannot be evaluated
              for six weeks after surgery. This is because of the fact that the
              middle ear becomes swollen and fills with blood as a result of the
              surgical procedure. Also, the entire ear canal is filled with
              packing material. It takes approximately six weeks for the blood
              and packing material to resorb. You may begin to notice occasional
              popping of the ear several weeks after surgery. This is the result
              of resorption of the blood and entrance of air into the middle ear
              cavity. It is a normal part of the healing process.
            </p>
            <p><strong>Resuming Activities:</strong></p>
            <ul>
              <li>
                It is advisable to sleep with the head of the bed elevated for
                the first week after surgery. This helps to minimize swelling
                behind the ear and in the middle ear cavity. The head of the bed
                may be elevated by sleeping on two or three pillows or by
                placing several pillows under the mattress. After the first
                week, you may sleep without the head of the bed elevated.
              </li>
              <li>
                You should avoid all activities that may increase blood pressure
                in the head area. Therefore, avoid bending over and lifting
                heavy objects for at least two weeks after surgery. You should
                not blow your nose for 3 weeks. Try to avoid sneezing for the
                first several weeks post-operatively. If you must sneeze, let is
                come out of the mouth like a cough.Excessive coughing should
                also be avoided. You should avoid the gym or strenuous athletic
                activity for one month after surgery.
              </li>
              <li>
                Swimming, diving, and water skiing should be avoided for two
                months after surgery. Eyeglasses may be worn as soon as the
                surgical dressing is removed. However, if there is an incision
                behind the ear, a band aid should be placed along the top of the
                ear to keep the rims of the glasses from rubbing against the
                suture line. Contact lenses may be inserted the day after
                surgery.
              </li>
              <li>
                Tub baths or showering can be resumed as soon as the patient
                feels strong enough to do so. The hair may be washed with
                someone’s help. It is essential, however, that the ear canal be
                kept completely dry. This may be accomplished by placing cotton
                coated with Vaseline into the ear canal opening. Care must be
                used with hair dryers since the top of ear may be numb and could
                be injured if care is not taken.
              </li>
              <li>
                Returning to Work or School The average patient is usually able
                to return to school or work one to two weeks following surgery.
                Return to work or school is dependent upon the amount of
                physical activity involved. Following simple tympanoplasty most
                patients may return to their school activities in a few days to
                a week.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Instructions after Head & Neck Surgery Thyroidectomy
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <ol>
              <li>
                After surgery, you will have a large compression dressing on
                your neck. This is used to decrease swelling and bleeding. You
                must keep the dressing intact until directed by Dr. Hegde.
                Please try to avoid getting the dressing wet. If it loosens, it
                is okay to retighten. If the dressing is too loose, it will not
                offer any compression and thus will not be helpful. If there is
                a lot of drainage on the dressing, it is okay to change to a
                clean dressing. Typically, we require that the compression
                dressing remains for 24 hours after the drain is removed.
              </li>
              <li>
                You may or may not have a drain in place when you leave the
                hospital. Dr. Hegdewill let you know if you do have a drain and
                make arrangements for it to be removed in the hospital. If the
                drain falls out, let us know but we usually do not replace it.
              </li>
              <li>
                Once the dressings are removed, local wound care can be started.
                Diluted peroxide with water (1 tsp peroxide and 1 tsp water) is
                used to clean the wound on a q-tip twice a day. Then apply an
                antibiotic ointment as prescribed by Dr. Hegde. Local wound care
                is usually followed for one week after surgery. Numbness around
                the incision is normal and usually resolves over time.
              </li>
              <li>
                Scar care: once the wound is healed, Dr. Hegde will recommend an
                anti-scar treatment. There are over the counter anti-scar creams
                as well as treatments available in the hospital/pharmacy/online.
                Anything that we do initially, can affect how the scar looks in
                the future.We usually recommend using an anti-scar cream for 6
                weeks after surgery.
              </li>
              <li>
                Take post-operative antibiotics as prescribed and pain
                medications as needed.
              </li>
              <li>
                Sleep with the head of bed elevated for the first 2-3 days
                post-operatively. This can help to decrease the swelling and
                make you feel more comfortable.
              </li>
              <li>
                Avoid lifting anything heavy for about 1 week. Usually after
                about a week normal activities can be resumed. Dr. Hegde will
                help advise you on when you can return to work.
              </li>
              <li>
                You may experience a sore throat or fullness to the throat. This
                gets better with time.
              </li>
              <li>
                Hoarseness can develop due to swelling around the nerves to the
                voice box. This usually resolves with time.
              </li>
              <li>
                Diet: Although there are no dietary restrictions after surgery,
                a soft diet may feel better for the first day. You may
                experience nausea after anesthesia but you can advance to a
                regular diet as tolerated.
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            Instructions For Nasal surgery- Septoplasty surgery
          </button>
        </h2>
        <div
          id="collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="headingFour"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              Nasal packing and/or internal splints may be necessary. Nasal
              packing is usually removed within 48 hours. Splints will be
              removed in the clinic after about a week. You will be notified if
              packing or splints were placed. <br />Swelling varies from person
              to person, but is more pronounced the first three days after
              surgery, generally under the eyes and above the lips.<br />You may
              have a deep, bruised feeling around the facial area, a stiff upper
              lip, and numbness at the tip of the nose, or some thick
              blood-tingedmucous draining from the nose. This will eventually
              subside.<br />Nasal congestion is a sign of internal nose swelling
              and is normal for some time following surgery. It may take two or
              three weeks before adequate nasal breathing is restored.<br /><br />POST-OPERATIVE
              INSTRUCTIONS: There are several things you must do in order to
              speed your recovery and have the best possible results from your
              surgery: <br />
            </p>
            <ol>
              <li>
                Stay upright, sitting or standing as much as possible. This will
                help to reduce the swelling. Try to sleep with yourhead elevated
                during the first 2 days.
              </li>
              <li>Avoid bending over or heavy lifting for one week.</li>
              <li>
                Avoid sneezing for the first three days. If you must sneeze,
                open your mouth when doing so, like a cough.
              </li>
              <li>
                Do not blow your nose for one week. Instead, youmay sniff inward
                to remove secretions.
              </li>
              <li>
                Avoid strenuous activity and heavy lifting for 2 weeks after
                surgery.
              </li>
              <li>
                I recommend a saline nasal spray to use every 2 hours to relieve
                the congestion and help clear nasal secretions and debris.
              </li>
              <li>
                Nasal bleeding is common after this surgery. If bleeding occurs,
                place ice packs on the top of the nose and use Xylometazoline
                (Otrivin/Xylomist) Nasal Drops/Spray (2 drops/puffs in each
                nostril three times a day)
              </li>
              <br />
              <p>
                You should be able to return to work or school about a week
                after surgery.
              </p>
            </ol>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFive"
            aria-expanded="false"
            aria-controls="collapseFive"
          >
            Instructions after Nasal surgery-FESS
          </button>
        </h2>
        <div
          id="collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="headingFive"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <ol>
              <li>
                After surgery, you will have a large compression dressing on
                your neck. This is used to decrease swelling and bleeding. You
                must keep the dressing intact until directed by Dr. Hegde.
                Please try to avoid getting the dressing wet. If it loosens, it
                is okay to retighten. If the dressing is too loose, it will not
                offer any compression and thus will not be helpful. If there is
                a lot of drainage on the dressing, it is okay to change to a
                clean dressing. Typically, we require that the compression
                dressing remains for 24 hours after the drain is removed.
              </li>
              <li>
                You may or may not have a drain in place when you leave the
                hospital. Dr. Hegdewill let you know if you do have a drain and
                make arrangements for it to be removed in the hospital. If the
                drain falls out, let us know but we usually do not replace it.
              </li>
              <li>
                Once the dressings are removed, local wound care can be started.
                Diluted peroxide with water (1 tsp peroxide and 1 tsp water) is
                used to clean the wound on a q-tip twice a day. Then apply an
                antibiotic ointment as prescribed by Dr. Hegde. Local wound care
                is usually followed for one week after surgery. Numbness around
                the incision is normal and usually resolves over time.
              </li>
              <li>
                Scar care: once the wound is healed, Dr. Hegde will recommend an
                anti-scar treatment. There are over the counter anti-scar creams
                as well as treatments available in the hospital/pharmacy/online.
                Anything that we do initially, can affect how the scar looks in
                the future.We usually recommend using an anti-scar cream for 6
                weeks after surgery.
              </li>
              <li>
                Take post-operative antibiotics as prescribed and pain
                medications as needed.
              </li>
              <li>
                Sleep with the head of bed elevated for the first 2-3 days
                post-operatively. This can help to decrease the swelling and
                make you feel more comfortable.
              </li>
              <li>
                Avoid lifting anything heavy for about 1 week. Usually after
                about a week normal activities can be resumed. Dr. Hegde will
                help advise you on when you can return to work.
              </li>
              <li>
                You may experience a sore throat or fullness to the throat. This
                gets better with time.
              </li>
              <li>
                Hoarseness can develop due to swelling around the nerves to the
                voice box. This usually resolves with time.
              </li>
              <li>
                Diet: Although there are no dietary restrictions after surgery,
                a soft diet may feel better for the first day. You may
                experience nausea after anesthesia but you can advance to a
                regular diet as tolerated.
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSix"
            aria-expanded="false"
            aria-controls="collapseSix"
          >
            Instructions after Tonsillectomy
          </button>
        </h2>
        <div
          id="collapseSix"
          class="accordion-collapse collapse"
          aria-labelledby="headingSix"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              For the first 7 to 10 days following surgery, your activity and
              diet will be somewhat restricted.
            </p>
            <strong>ACTIVITY:</strong>
            <ol>
              <li>
                Remain quiet during the first week, preferably indoors. You can
                read, play games, and watch television.
              </li>
              <li>
                Do not engage in strenuous activity during the first 10 days
                following surgery. No running, biking, swimming, etc.
              </li>
              <li>
                Avoid contact with people with colds, fever, flu, sore throats,
                virus or any other contagious disease. It would delay your
                recovery to develop an illness during this time.
              </li>
              <li>
                DO NOT take any products containing aspirin as this could affect
                blood clotting.
              </li>
            </ol>
            <strong>DIET:</strong>
            <p>
              Remember that this is just a guideline of suggested foods to
              prepare. It is fine to substitute foods that you prefer. Some
              patients advance their diet at a quicker rate than others do. All
              foods should be lukewarm or cool, not hot. Avoid spicy food and
              acidic types of fruit juices. It is okay to have apple or grape
              juices.
            </p>
            <ol>
              <li>
                First day: Iced tea, milk, water, soft drinks, ice cream,
                Jell-O.
              </li>
              <li>
                Second day: Soft foods like custards, pudding, and cream of
                wheat, soup broth.
              </li>
              <li>
                Third day: Mashed potatoes, warm cream soups, and poached eggs.
              </li>
              <li>Fourth/Fifth day: Soft cereal, soft eggs, and spaghetti.</li>
              <li>
                Sixth day and on: Try outmore substantial foods that you prefer.
                Allow for plenty of fluids and smaller bites to aid in
                swallowing.
              </li>
              <p>
                NO hard foods (peanuts, chips, popcorn etc.) for 3 weeks
                following your surgery.
              </p>
            </ol>
            <strong>WHAT TO EXPECT:</strong>
            <ol>
              <li>
                SORE THROAT -This is usually worse in the morning and at
                bedtime. It is normally worse on days 5-7 after the operation.
              </li>
              <li>
                FEVER -This can be present for the first 2-3 days. It is helpful
                to encourage a good fluid intake. You can also use Paracetamol
                for this. If the fever rises over 102º oral temperature, notify
                us, as we may need to prescribe an antibiotic.
              </li>
              <li>
                EARACHE: This is normal even if ear surgery is not performed.
                The same nerve to your tonsils gives feeling to your ear, as
                well. The ear feels referred pain.
              </li>
              <li>
                HIGH-PITCHED (or nasal voice): This is common during the first
                2-3 weeks following surgery.
              </li>
              <li>
                BAD BREATH: This is due to the presence of a membrane or scab
                where the tonsil was removed.
              </li>
              <li>
                DIFFICULTY with swallowing, drooling, and spitting small amounts
                of bloody mucous can occurin the first few days.
              </li>
              <li>
                CONSTIPATION –The narcotic pain medications may cause
                constipation. Please be aware of this. Bleeding can occur after
                surgery. Report any bleeding immediately so we can discuss
                treatment options. Ice water gargles and ice pack to neck can
                sometimes control bleeding. If bleeding is profuse, go to the
                nearest emergency room.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <br />
    <hr />
    <br />
  </div>
</div>
