<div class="container-fluid">
  <div class="container" id="card">
    <div class="card mb-3" style="max-width: 100%; margin-top: 30px">
      <div class="row">
        <div class="col-md-4">
          <img
            style="height: 500px; width: 400px"
            src="assets/images/profilephoto1.jpg"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" id="c2">Dr Jyotirmay S Hegde</h5>
            <p class="card-text" style="text-align: justify">
              Dr Jyotirmay S Hegde is a Consulting ENT, Head and Neck &
              Endoscopic skull base surgeon at Columbia Asia Hospital,
              Whitefeld, Bangalore. He completed his Masters in Otolaryngology –
              Head & Neck Surgery at Karnataka Institute of Medical Sciences,
              Hubli, Karnataka (India). He has worked as a faculty member in
              various capacities at Jawaharlal Institute of Postgraduate Medical
              Education & Research (JIPMER), Pondicherry, India. He is a Fellow
              of the European Board of Otolaryngology (FEBORL). He also
              completed his Fellowship in Rhinology and Endoscopic skull-base
              surgery from University Hospital Aintree, Liverpool, UK. He also
              completed his fellowship in Endoscopic sinus surgery at Bombay
              Hospital, Mumbai, India. He was awarded the Cipla fellowship award
              for the best outgoing student during his Masters. He is the
              recipient of the prestigious Dr P. N. Berry fellowship and was
              awarded the British Annual Congress in Otolaryngology (BACO)
              fellowship during 2015 and the International visiting scholarship
              at the American Academy of Otolaryngology Head & Neck Surgery at
              Chicago and UPMC, Pittsburgh in 2017. He has also been a recipient
              of the travelling fellowship by the German Society of
              Otolaryngology, Head and Neck Surgery in 2017 at Erfurt. He
              received a gold medal for the best video presentation at AOICON,
              Kolkata, India and has published in several peer-reviewed
              scientifc publications and presented at national and international
              conferences, courses, and workshops.
            </p>
            <button
              type="button"
              class="btn btn"
              style="background-color: #14a098"
              [routerLink]="['/aboutus']"
            >
              Click to know more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="width: 18rem; margin-left: 40px">
        <img
          src="assets/images/coverpage.jpg"
          style="margin-top: 10px"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Books Authored: CSF RHINORRHEA</h5>
          <a
            href="https://www.amazon.in/dp/0367029588/ref=cm_sw_r_wa_apa_i_NaxNFbMPQPC44"
            >Amazon-CSF Rhinorrhoea: Management and Practice</a
          >
          <a
            href="https://www.routledge.com/CSF-Rhinorrhoea-Management-and-Practice/Hegde-Vamanshankar/p/book/9780367029586"
            >Routledge-CSF Rhinorrhoea: Management and Practice</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div id="div2">
        <h1>Educational Qualifications</h1>
        <table class="table table table-striped table-hover">
          <thead>
            <tr id="title">
              <th scope="col">Sl.No</th>
              <th scope="col">Qualification</th>
              <th scope="col">Institution Name</th>
              <th scope="col">Location</th>
            </tr>
          </thead>
          <tbody>
            <tr id="title">
              <th scope="row">1</th>
              <td>MBBS</td>
              <td>J.N.Medical College, Belgaum</td>
              <td>Karnataka, India</td>
            </tr>
            <tr id="title">
              <th scope="row">2</th>
              <td>MS (ENT)</td>
              <td>Karnataka Institute Of Medical Sciences, Hubli</td>
              <td>Karnataka, India</td>
            </tr>
            <tr id="title">
              <th scope="row">2</th>
              <td>FEBORL</td>
              <td>European board of Otolaryngology & HNS</td>
              <td>Austria,EU</td>
            </tr>
            <tr id="title">
              <th scope="row">4</th>
              <td>FELLOWSHIP in Endoscopic Sinus Surgery</td>
              <td>Bombay Hospital & Medical Research Centre, Mumbai</td>
              <td>Maharashtra,India</td>
            </tr>
            <tr id="title">
              <th scope="row">5</th>
              <td>FELLOWSHIP in Rhinology & Skullbase Surgery, UK</td>
              <td>
                University Hospital Aintree, Liverpool,The Royal College Of
                Surgeons, Edinburgh.
              </td>
              <td>United Kingdom</td>
            </tr>
            <tr id="title">
              <th scope="row">6</th>
              <td>Tavelling Fellowship UK</td>
              <td>British Academy Of ORL</td>
              <td>United Kingdom</td>
            </tr>
            <tr id="title">
              <th scope="row">7</th>
              <td>Travelling Fellowship Germany</td>
              <td>German Association of ORL & HNS, Erfurt</td>
              <td>Germany</td>
            </tr>
            <tr id="title">
              <th scope="row">8</th>
              <td>
                International Visiting Scholarship and short term training
              </td>
              <td>
                American Association of Otolaryngology and Head and Neck Surgery
                Chicago and UPMC-Pittsburgh
              </td>
              <td>United States of America</td>
            </tr>
            <tr id="title">
              <th scope="row">9</th>
              <td>Advanced skullbase app</td>
              <td>ASST Dei Sette Laghi-Varese</td>
              <td>Italy</td>
            </tr>
            <tr id="title">
              <th scope="row">10</th>
              <td>Travelling Fellowship Int’l Biennale Endo-Milano</td>
              <td>Milano Masterclass Italy-Milan</td>
              <td>Italy</td>
            </tr>
            <tr id="title">
              <th scope="row">11</th>
              <td>Certificate course in Medicine and Law</td>
              <td>Institute of Medicine and Law</td>
              <td>Maharashtra,India</td>
            </tr>
            <tr id="title">
              <th scope="row">12</th>
              <td>International Cochlear Implant Trainee</td>
              <td>University of Miami, Miller school of Medicine</td>
              <td>USA</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
